@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin fillScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

html {
  --border-radius: 2px;
  font-size: calc(1rem /16 *12);
  font-family: Courier, monospace;
}

body {
  --color0: #000;
  --color1: #ccc;
  --color3: #fff;
  &.dark-theme {
    --color0: #fff;
    --color1: #444;
    --color3: #1c1c1c;
  }
  background: var(--color3);
  color: var(--color0);
}

#app {
  display: grid;
  justify-content: center;

  * { position: relative; }

  p, h1, h2, h3, h4, h5, h6 { margin: 0; }
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .2em;
  }

  textarea {
    box-sizing: border-box;
    font: inherit;
    font-size: .95rem;
    min-height: 12em;
    width: 78ex;
    padding: .2em;
    background: inherit;
    color: inherit;
    resize: none;
    border: 1px dashed var(--color0);
    &:focus { border: 1px solid var(--color0); }
    &.ro {
      border: 1px dashed var(--color1);
      cursor: copy;
    }
  }

  button {
    font: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color0);
    background: var(--color3);
    border: 1px solid var(--color0);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    padding: 0 .3em;
    line-height: 1.8em;
    cursor: pointer;
    &:hover, &.selected {
      background: var(--color0);
      color: var(--color3);
    }
    &[disabled] {
      cursor: auto;
      color: var(--color1);
      background: var(--color3);
      border-color: var(--color1);
    }
  }

  .hidden { visibility: hidden; }
  .inline { display: inline; }
  .text-to-right { text-align: right; }

  .sep3 > * { margin-right: .3rem; }
  .sep2 > * { margin-right: .6rem; }
  .sep > * { margin-right: 1rem; }

  .split {
    display: grid;
    margin-bottom: 2rem;

    grid-gap: 0 1rem;
    grid-template-columns: 1fr 1fr;
    .row {
      grid-column: 1 / 3;
      &.em { margin-top: 1rem; }
    }
    .col { grid-row-end: span 3; }
    &.compact { grid-template-columns: auto 1fr; }
    @media (max-width: 130ex) {
      grid-template-columns: 1fr;
      .row { grid-column: 1; }
      grid-gap: 1rem 1rem;
      &.compact { grid-template-columns: 1fr; }
    }
  }

  #generating {
    @include fillScreen;
    div > span {
      display: inline-block;
      animation: 2s infinite linear rotate;
    }
  }
}
