@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop {
  from {
    max-width: 0;
    max-height: 0;
  }
  to {
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin fillScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

html {
  --border-radius: 2px;
  font-size: calc(1rem / 16 * 12);
  font-family: Courier, monospace;
}

body {
  --color0: #000;
  --color1: #666;
  --color2: #ccc;
  --color3: #fff;
  &.dark-theme {
    --color0: #fff;
    --color2: #444;
    --color1: #aaa;
    --color3: #1c1c1c;
  }
  background: var(--color3);
  color: var(--color0);
}

#app {
  display: grid;
  justify-content: center;

  * {
    position: relative;
  }

  p {
    text-align: justify;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-bottom: 0.2em;
  }

  i {
    color: var(--color1);
  }
  a {
    color: var(--color1);
    text-decoration: none;
    font-style: italic;
    &:hover {
      text-decoration: underline;
    }
  }

  textarea {
    box-sizing: border-box;
    font: inherit;
    font-size: 0.95rem;
    min-height: 12em;
    min-width: 78ex;
    padding: 0.2em;
    background: inherit;
    color: inherit;
    resize: none;
    border: 1px dashed var(--color0);
    &:focus {
      border: 1px solid var(--color0);
    }
    &.ro {
      text-align: center;
      border: 1px dashed var(--color2);
      cursor: copy;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &::placeholder {
      color: var(--color1);
      text-transform: uppercase;
      font-style: italic;
    }
  }

  button {
    font: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color0);
    background: var(--color3);
    border: 1px solid var(--color0);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    padding: 0 0.3em;
    line-height: 1.8em;
    cursor: pointer;
    &:hover,
    &.selected {
      background: var(--color0);
      color: var(--color3);
    }
    &[disabled] {
      cursor: auto;
      color: var(--color2);
      background: var(--color3);
      border-color: var(--color2);
    }
  }

  .quote {
    padding: 4rem 0;
    margin: auto;
  }

  .inline {
    display: inline;
  }
  .text-align-right {
    text-align: right;
  }

  .sep3 > * {
    margin-right: 0.3rem;
  }
  .sep2 > * {
    margin-right: 0.6rem;
  }
  .sep > * {
    margin-right: 1rem;
  }
  .sep-rev > * {
    margin-left: 1rem;
  }

  .split {
    display: grid;
    margin-bottom: 0.5rem;
    grid-gap: 0.5rem;

    grid-template-columns: 1fr 1fr;
    &.compact {
      grid-template-columns: auto 1fr;
    }
    &.two-to-one {
      grid-template-areas:
        "top-left right"
        "bottom-left right";
      > .top-left {
        grid-area: top-left;
      }
      > .bottom-left {
        grid-area: bottom-left;
      }
      > .right {
        grid-area: right;
      }
    }
    @media (max-width: 130ex) {
      grid-template-columns: 1fr;
      .row {
        grid-column: 1;
      }
      &.compact {
        grid-template-columns: 1fr;
      }
      &.two-to-one {
        grid-template-areas: "top-left" "bottom-left" "right";
      }
    }
  }

  #loading {
    @include fillScreen;
    background: #000c;
    color: #fff;
    font-size: 1.1rem;
    animation: 0.2s fadeIn;
    .message {
      margin-bottom: 1rem;
    }
    .spinner {
      display: inline-block;
      animation: 2s infinite linear rotate;
    }
  }

  #popup {
    @include fillScreen;
    background: #000d;
    animation: 0.1s fadeIn;
  }

  .dialogue {
    h2 {
      margin-top: 0;
    }
    background: var(--color3);
    padding: 1.2rem 1.2rem;
    border-radius: var(--border-radius);
    animation: 0.4s fadeIn, 0.15s pop;
  }
}
